@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1140px;
    margin: auto;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}


/* header */
#site-header {
    
    background-color: #2d1e0b;
    
}

#site-header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#site-header .inner .nav {
    display: flex;
}

#site-header .inner .nav li {
    display: inline-block;
    margin: 0 15px;
}

#site-header .inner .nav li a {
    color: white;
}

#site-header .logo img {
    width: 60px;
}
/*  */

.button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.2em;
    padding:0 1em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .button:hover{
    background:#fff;
    color:#1AAB8A;
  }
  .button:before,.button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button:hover:before,.button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

/*  */
h2 {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.download {
    display: flex;
    color: white;
    justify-content: center;
}

.download h3 {
    margin-bottom: 20px;
}

.download .apk {
    margin-right: 100px;
    text-align: center;
}

.download .ios {
    text-align: center;
}

.download img {
    margin: 0 auto;
}

.download  a{
    display: block;
    margin-top: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download  a i {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}

#site-main .logo {
    display: block;
    text-align: center;
}

#site-main .logo img{
    width: 100px;
}
/* scan */

/* .scanning::after {
    content: '';
    position: absolute;
    width: 58px;
    height: 8px;
    background-image: linear-gradient(to bottom,
        rgba(170, 184, 190, 0),
        rgba(170, 184, 190, .8));
    animation: scanning .8s linear infinite;
    }

    @keyframes scanning {
        100% { transform: translate(0, 200px); }
    } */


.scanning {
    border: 2px solid rgba(170, 184, 190, .8);
    display: inline-block;
    padding: 20px;
    position: relative;
}

.scanning:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 12px;
    background-image: linear-gradient(to bottom,
        rgba(170, 184, 190, 0),
        rgba(170, 184, 190, .8));
    animation: scanning 2s linear infinite;
}

@keyframes scanning {
    100% { transform: translate(0, 200px); }
} */

/* site-main */
#site-main {
    margin-top: 130px;

}

body {
    margin: 0;
    overflow: hidden;
    background-image: radial-gradient(center, ellipse cover, #27364f 0%, #2d1e0b 50%, #2d1e0b 100%);
    background: -moz-radial-gradient(center, ellipse cover, #27364f 0%, #2d1e0b 50%, #2d1e0b 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #27364f), color-stop(50%, #2d1e0b), color-stop(100%, #2d1e0b));
    background: -webkit-radial-gradient(center, ellipse cover, #27364f 0%, #2d1e0b 50%, #2d1e0b 100%);
    background: -o-radial-gradient(center, ellipse cover, #27364f 0%, #2d1e0b 50%, #2d1e0b 100%);
    background: -ms-radial-gradient(center, ellipse cover, #27364f 0%, #2d1e0b 50%, #2d1e0b 100%);
    filter: 'progid:DXImageTransform.Microsoft.gradient( startColorstr=' #27364f ', endColorstr=' #2d1e0b ',GradientType=1 )';
    background-position: 50% 0%;
    background-size: 150vmax 150vmax;
    background-repeat: no-repeat;
    background-color: #2d1e0b;
  }
  .stars .container {
    position: absolute;
    animation: stars linear infinite;
  }
  .stars .container .star {
    animation: twinkle linear infinite;
    border-radius: 100%;
    transform: translateZ(0);
  }
  .stars .container:nth-child(0) {
    width: 3px;
    height: 3px;
    left: 32.5vw;
    animation-delay: -996s;
    animation-duration: 119.60000000000001s;
  }
  .stars .container:nth-child(0) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.2s;
    animation-duration: 6.8s;
    background: #d4cfde;
  }
  .stars .container:nth-child(1) {
    width: 1px;
    height: 1px;
    left: 21vw;
    animation-delay: -989.2s;
    animation-duration: 269.8s;
  }
  .stars .container:nth-child(1) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.4s;
    animation-duration: 11.4s;
    background: rgba(255,229,138,0.9);
  }
  .stars .container:nth-child(2) {
    width: 3px;
    height: 3px;
    left: 40vw;
    animation-delay: -993.3333333333334s;
    animation-duration: 34.199999999999996s;
  }
  .stars .container:nth-child(2) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.9s;
    animation-duration: 24.1s;
    background: rgba(225,240,216,0.9);
  }
  .stars .container:nth-child(3) {
    width: 3px;
    height: 3px;
    left: 10.5vw;
    animation-delay: -997.2s;
    animation-duration: 20.466666666666665s;
  }
  .stars .container:nth-child(3) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.8s;
    animation-duration: 18.8s;
    background: rgba(226,202,123,0.9);
  }
  .stars .container:nth-child(4) {
    width: 2px;
    height: 2px;
    left: 3.5vw;
    animation-delay: -993.5s;
    animation-duration: 51.5s;
  }
  .stars .container:nth-child(4) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.5s;
    animation-duration: 11s;
    background: rgba(253,180,148,0.7);
  }
  .stars .container:nth-child(5) {
    width: 3px;
    height: 3px;
    left: 87vw;
    animation-delay: -997s;
    animation-duration: 71.06666666666666s;
  }
  .stars .container:nth-child(5) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.4s;
    animation-duration: 20.5s;
    background: rgba(237,208,123,0.8);
  }
  .stars .container:nth-child(6) {
    width: 1px;
    height: 1px;
    left: 54.5vw;
    animation-delay: -983.4s;
    animation-duration: 106.6s;
  }
  .stars .container:nth-child(6) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.5s;
    animation-duration: 32.5s;
    background: rgba(223,154,252,0.9);
  }
  .stars .container:nth-child(7) {
    width: 1px;
    height: 1px;
    left: 30.5vw;
    animation-delay: -980.6s;
    animation-duration: 212.4s;
  }
  .stars .container:nth-child(7) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.2s;
    animation-duration: 45.5s;
    background: rgba(230,169,125,0.7);
  }
  .stars .container:nth-child(8) {
    width: 3px;
    height: 3px;
    left: 84vw;
    animation-delay: -997.6666666666666s;
    animation-duration: 88.60000000000001s;
  }
  .stars .container:nth-child(8) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.2s;
    animation-duration: 17.7s;
    background: rgba(217,255,115,0.7);
  }
  .stars .container:nth-child(9) {
    width: 1px;
    height: 1px;
    left: 36vw;
    animation-delay: -985.6s;
    animation-duration: 380.8s;
  }
  .stars .container:nth-child(9) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.7s;
    animation-duration: 36.2s;
    background: #ecd0c9;
  }
  .stars .container:nth-child(10) {
    width: 3px;
    height: 3px;
    left: 18vw;
    animation-delay: -994.3333333333334s;
    animation-duration: 42.266666666666666s;
  }
  .stars .container:nth-child(10) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.6s;
    animation-duration: 14.9s;
    background: rgba(239,249,213,0.9);
  }
  .stars .container:nth-child(11) {
    width: 2px;
    height: 2px;
    left: 93.5vw;
    animation-delay: -992.1s;
    animation-duration: 27.2s;
  }
  .stars .container:nth-child(11) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.8s;
    animation-duration: 27.5s;
    background: rgba(235,185,250,0.8);
  }
  .stars .container:nth-child(12) {
    width: 1px;
    height: 1px;
    left: 21.5vw;
    animation-delay: -987.4s;
    animation-duration: 239.4s;
  }
  .stars .container:nth-child(12) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.1s;
    animation-duration: 26.7s;
    background: #c9eacf;
  }
  .stars .container:nth-child(13) {
    width: 2px;
    height: 2px;
    left: 18vw;
    animation-delay: -997.5s;
    animation-duration: 73s;
  }
  .stars .container:nth-child(13) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.3s;
    animation-duration: 12.7s;
    background: rgba(222,213,221,0.8);
  }
  .stars .container:nth-child(14) {
    width: 3px;
    height: 3px;
    left: 33.5vw;
    animation-delay: -994.2s;
    animation-duration: 45.666666666666664s;
  }
  .stars .container:nth-child(14) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.4s;
    animation-duration: 40.5s;
    background: rgba(218,197,144,0.9);
  }
  .stars .container:nth-child(15) {
    width: 1px;
    height: 1px;
    left: 83.5vw;
    animation-delay: -992.4s;
    animation-duration: 273.2s;
  }
  .stars .container:nth-child(15) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.2s;
    animation-duration: 7.9s;
    background: #f7ddcf;
  }
  .stars .container:nth-child(16) {
    width: 3px;
    height: 3px;
    left: 25.5vw;
    animation-delay: -996.4s;
    animation-duration: 31.599999999999998s;
  }
  .stars .container:nth-child(16) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43s;
    animation-duration: 25s;
    background: #f5ba9a;
  }
  .stars .container:nth-child(17) {
    width: 2px;
    height: 2px;
    left: 77.5vw;
    animation-delay: -991.1s;
    animation-duration: 188.4s;
  }
  .stars .container:nth-child(17) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44s;
    animation-duration: 27.9s;
    background: rgba(222,247,141,0.9);
  }
  .stars .container:nth-child(18) {
    width: 2px;
    height: 2px;
    left: 41vw;
    animation-delay: -992.9s;
    animation-duration: 97s;
  }
  .stars .container:nth-child(18) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.8s;
    animation-duration: 19.9s;
    background: rgba(226,236,153,0.9);
  }
  .stars .container:nth-child(19) {
    width: 2px;
    height: 2px;
    left: 45vw;
    animation-delay: -995.9s;
    animation-duration: 28.6s;
  }
  .stars .container:nth-child(19) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.7s;
    animation-duration: 21s;
    background: rgba(206,204,219,0.9);
  }
  .stars .container:nth-child(20) {
    width: 1px;
    height: 1px;
    left: 27vw;
    animation-delay: -989.8s;
    animation-duration: 143s;
  }
  .stars .container:nth-child(20) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.4s;
    animation-duration: 42.7s;
    background: #def9fc;
  }
  .stars .container:nth-child(21) {
    width: 2px;
    height: 2px;
    left: 79.5vw;
    animation-delay: -995.7s;
    animation-duration: 93.6s;
  }
  .stars .container:nth-child(21) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.7s;
    animation-duration: 8.9s;
    background: rgba(210,254,106,0.7);
  }
  .stars .container:nth-child(22) {
    width: 3px;
    height: 3px;
    left: 42.5vw;
    animation-delay: -994.4666666666667s;
    animation-duration: 39.6s;
  }
  .stars .container:nth-child(22) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45s;
    animation-duration: 27.9s;
    background: #e4e974;
  }
  .stars .container:nth-child(23) {
    width: 1px;
    height: 1px;
    left: 42.5vw;
    animation-delay: -996.4s;
    animation-duration: 364.6s;
  }
  .stars .container:nth-child(23) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.5s;
    animation-duration: 19.3s;
    background: rgba(200,163,221,0.9);
  }
  .stars .container:nth-child(24) {
    width: 1px;
    height: 1px;
    left: 73.5vw;
    animation-delay: -994.2s;
    animation-duration: 64.8s;
  }
  .stars .container:nth-child(24) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.7s;
    animation-duration: 28.5s;
    background: rgba(234,229,106,0.8);
  }
  .stars .container:nth-child(25) {
    width: 3px;
    height: 3px;
    left: 55.5vw;
    animation-delay: -997s;
    animation-duration: 64.33333333333333s;
  }
  .stars .container:nth-child(25) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.3s;
    animation-duration: 42.2s;
    background: #f6cdab;
  }
  .stars .container:nth-child(26) {
    width: 2px;
    height: 2px;
    left: 49.5vw;
    animation-delay: -996.6s;
    animation-duration: 172.3s;
  }
  .stars .container:nth-child(26) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.4s;
    animation-duration: 7.4s;
    background: rgba(255,204,190,0.9);
  }
  .stars .container:nth-child(27) {
    width: 2px;
    height: 2px;
    left: 47vw;
    animation-delay: -993.9s;
    animation-duration: 131.9s;
  }
  .stars .container:nth-child(27) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.7s;
    animation-duration: 9.1s;
    background: #f3b8c8;
  }
  .stars .container:nth-child(28) {
    width: 2px;
    height: 2px;
    left: 22vw;
    animation-delay: -998.7s;
    animation-duration: 104.5s;
  }
  .stars .container:nth-child(28) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.2s;
    animation-duration: 47.6s;
    background: #dda572;
  }
  .stars .container:nth-child(29) {
    width: 1px;
    height: 1px;
    left: 83vw;
    animation-delay: -995.2s;
    animation-duration: 306.6s;
  }
  .stars .container:nth-child(29) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.6s;
    animation-duration: 7.7s;
    background: #fb9765;
  }
  .stars .container:nth-child(30) {
    width: 3px;
    height: 3px;
    left: 8.5vw;
    animation-delay: -994.9333333333333s;
    animation-duration: 65.66666666666667s;
  }
  .stars .container:nth-child(30) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.2s;
    animation-duration: 12.4s;
    background: rgba(247,193,167,0.9);
  }
  .stars .container:nth-child(31) {
    width: 3px;
    height: 3px;
    left: 18.5vw;
    animation-delay: -998.2666666666667s;
    animation-duration: 46.06666666666666s;
  }
  .stars .container:nth-child(31) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.1s;
    animation-duration: 5s;
    background: rgba(255,155,181,0.8);
  }
  .stars .container:nth-child(32) {
    width: 3px;
    height: 3px;
    left: 69.5vw;
    animation-delay: -996.8666666666667s;
    animation-duration: 106.53333333333335s;
  }
  .stars .container:nth-child(32) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.3s;
    animation-duration: 39.2s;
    background: #e8b8cd;
  }
  .stars .container:nth-child(33) {
    width: 1px;
    height: 1px;
    left: 43vw;
    animation-delay: -999s;
    animation-duration: 55s;
  }
  .stars .container:nth-child(33) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.8s;
    animation-duration: 12.9s;
    background: rgba(246,192,159,0.7);
  }
  .stars .container:nth-child(34) {
    width: 3px;
    height: 3px;
    left: 71vw;
    animation-delay: -996.1333333333333s;
    animation-duration: 27.266666666666666s;
  }
  .stars .container:nth-child(34) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.7s;
    animation-duration: 43.7s;
    background: rgba(213,215,120,0.8);
  }
  .stars .container:nth-child(35) {
    width: 1px;
    height: 1px;
    left: 11.5vw;
    animation-delay: -985s;
    animation-duration: 377.2s;
  }
  .stars .container:nth-child(35) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.5s;
    animation-duration: 32s;
    background: rgba(254,157,154,0.8);
  }
  .stars .container:nth-child(36) {
    width: 2px;
    height: 2px;
    left: 69.5vw;
    animation-delay: -998.6s;
    animation-duration: 30.4s;
  }
  .stars .container:nth-child(36) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.9s;
    animation-duration: 28.4s;
    background: #e7a1b4;
  }
  .stars .container:nth-child(37) {
    width: 2px;
    height: 2px;
    left: 62vw;
    animation-delay: -991.7s;
    animation-duration: 88.3s;
  }
  .stars .container:nth-child(37) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.9s;
    animation-duration: 24.7s;
    background: #fdb39d;
  }
  .stars .container:nth-child(38) {
    width: 3px;
    height: 3px;
    left: 13.5vw;
    animation-delay: -996.6666666666666s;
    animation-duration: 53.333333333333336s;
  }
  .stars .container:nth-child(38) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.1s;
    animation-duration: 31.7s;
    background: rgba(217,172,255,0.9);
  }
  .stars .container:nth-child(39) {
    width: 2px;
    height: 2px;
    left: 95.5vw;
    animation-delay: -996s;
    animation-duration: 149.5s;
  }
  .stars .container:nth-child(39) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.5s;
    animation-duration: 38.6s;
    background: rgba(246,173,216,0.8);
  }
  .stars .container:nth-child(40) {
    width: 1px;
    height: 1px;
    left: 6vw;
    animation-delay: -997.6s;
    animation-duration: 146.8s;
  }
  .stars .container:nth-child(40) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.9s;
    animation-duration: 29.6s;
    background: rgba(236,252,144,0.7);
  }
  .stars .container:nth-child(41) {
    width: 1px;
    height: 1px;
    left: 58vw;
    animation-delay: -982.6s;
    animation-duration: 176.4s;
  }
  .stars .container:nth-child(41) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.8s;
    animation-duration: 31.5s;
    background: rgba(208,220,250,0.9);
  }
  .stars .container:nth-child(42) {
    width: 1px;
    height: 1px;
    left: 56vw;
    animation-delay: -980.2s;
    animation-duration: 68s;
  }
  .stars .container:nth-child(42) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.1s;
    animation-duration: 29.6s;
    background: rgba(213,246,226,0.8);
  }
  .stars .container:nth-child(43) {
    width: 1px;
    height: 1px;
    left: 7.5vw;
    animation-delay: -989.2s;
    animation-duration: 89.4s;
  }
  .stars .container:nth-child(43) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.8s;
    animation-duration: 45.9s;
    background: #dfd4f8;
  }
  .stars .container:nth-child(44) {
    width: 3px;
    height: 3px;
    left: 40vw;
    animation-delay: -997.6666666666666s;
    animation-duration: 54.666666666666664s;
  }
  .stars .container:nth-child(44) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.3s;
    animation-duration: 5.1s;
    background: rgba(246,175,215,0.8);
  }
  .stars .container:nth-child(45) {
    width: 1px;
    height: 1px;
    left: 62vw;
    animation-delay: -995.6s;
    animation-duration: 252.8s;
  }
  .stars .container:nth-child(45) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.9s;
    animation-duration: 16.2s;
    background: #f6e0b2;
  }
  .stars .container:nth-child(46) {
    width: 1px;
    height: 1px;
    left: 60vw;
    animation-delay: -980.4s;
    animation-duration: 254s;
  }
  .stars .container:nth-child(46) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.4s;
    animation-duration: 46.9s;
    background: rgba(207,229,161,0.9);
  }
  .stars .container:nth-child(47) {
    width: 3px;
    height: 3px;
    left: 89vw;
    animation-delay: -999.4s;
    animation-duration: 109s;
  }
  .stars .container:nth-child(47) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.5s;
    animation-duration: 37.8s;
    background: rgba(235,200,158,0.9);
  }
  .stars .container:nth-child(48) {
    width: 2px;
    height: 2px;
    left: 18.5vw;
    animation-delay: -996.3s;
    animation-duration: 97.5s;
  }
  .stars .container:nth-child(48) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.1s;
    animation-duration: 47.7s;
    background: #ebe5fa;
  }
  .stars .container:nth-child(49) {
    width: 2px;
    height: 2px;
    left: 57.5vw;
    animation-delay: -996.3s;
    animation-duration: 46.1s;
  }
  .stars .container:nth-child(49) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.4s;
    animation-duration: 39.9s;
    background: rgba(200,221,254,0.7);
  }
  .stars .container:nth-child(50) {
    width: 1px;
    height: 1px;
    left: 60vw;
    animation-delay: -996.6s;
    animation-duration: 86.4s;
  }
  .stars .container:nth-child(50) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.5s;
    animation-duration: 45.9s;
    background: rgba(243,175,104,0.9);
  }
  .stars .container:nth-child(51) {
    width: 2px;
    height: 2px;
    left: 53.5vw;
    animation-delay: -997.5s;
    animation-duration: 166.4s;
  }
  .stars .container:nth-child(51) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.1s;
    animation-duration: 23.6s;
    background: rgba(205,241,223,0.8);
  }
  .stars .container:nth-child(52) {
    width: 3px;
    height: 3px;
    left: 68vw;
    animation-delay: -994.4s;
    animation-duration: 33.4s;
  }
  .stars .container:nth-child(52) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.4s;
    animation-duration: 31.9s;
    background: rgba(219,232,145,0.8);
  }
  .stars .container:nth-child(53) {
    width: 1px;
    height: 1px;
    left: 35vw;
    animation-delay: -991s;
    animation-duration: 345.2s;
  }
  .stars .container:nth-child(53) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.1s;
    animation-duration: 22.6s;
    background: rgba(233,229,175,0.9);
  }
  .stars .container:nth-child(54) {
    width: 3px;
    height: 3px;
    left: 64.5vw;
    animation-delay: -996.6s;
    animation-duration: 59.93333333333334s;
  }
  .stars .container:nth-child(54) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.1s;
    animation-duration: 16s;
    background: rgba(205,154,119,0.9);
  }
  .stars .container:nth-child(55) {
    width: 2px;
    height: 2px;
    left: 49vw;
    animation-delay: -996.6s;
    animation-duration: 60s;
  }
  .stars .container:nth-child(55) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.1s;
    animation-duration: 35.9s;
    background: rgba(212,237,121,0.8);
  }
  .stars .container:nth-child(56) {
    width: 1px;
    height: 1px;
    left: 78vw;
    animation-delay: -984.2s;
    animation-duration: 221.4s;
  }
  .stars .container:nth-child(56) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.3s;
    animation-duration: 26s;
    background: rgba(235,163,100,0.8);
  }
  .stars .container:nth-child(57) {
    width: 3px;
    height: 3px;
    left: 55vw;
    animation-delay: -999s;
    animation-duration: 70.93333333333334s;
  }
  .stars .container:nth-child(57) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.1s;
    animation-duration: 5.7s;
    background: rgba(241,251,222,0.8);
  }
  .stars .container:nth-child(58) {
    width: 3px;
    height: 3px;
    left: 21.5vw;
    animation-delay: -994.1333333333333s;
    animation-duration: 105.26666666666667s;
  }
  .stars .container:nth-child(58) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.4s;
    animation-duration: 40.6s;
    background: rgba(206,233,208,0.8);
  }
  .stars .container:nth-child(59) {
    width: 1px;
    height: 1px;
    left: 34.5vw;
    animation-delay: -980.8s;
    animation-duration: 141.6s;
  }
  .stars .container:nth-child(59) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.1s;
    animation-duration: 21.6s;
    background: rgba(247,216,132,0.8);
  }
  .stars .container:nth-child(60) {
    width: 2px;
    height: 2px;
    left: 6.5vw;
    animation-delay: -994.6s;
    animation-duration: 93.7s;
  }
  .stars .container:nth-child(60) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.9s;
    animation-duration: 19.1s;
    background: #cac074;
  }
  .stars .container:nth-child(61) {
    width: 1px;
    height: 1px;
    left: 89.5vw;
    animation-delay: -988.4s;
    animation-duration: 177s;
  }
  .stars .container:nth-child(61) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.8s;
    animation-duration: 34.9s;
    background: rgba(212,187,250,0.8);
  }
  .stars .container:nth-child(62) {
    width: 1px;
    height: 1px;
    left: 88.5vw;
    animation-delay: -990.2s;
    animation-duration: 88s;
  }
  .stars .container:nth-child(62) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.4s;
    animation-duration: 39.7s;
    background: #cbef8a;
  }
  .stars .container:nth-child(63) {
    width: 2px;
    height: 2px;
    left: 86vw;
    animation-delay: -992.9s;
    animation-duration: 103.2s;
  }
  .stars .container:nth-child(63) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40s;
    animation-duration: 27.2s;
    background: rgba(250,247,196,0.7);
  }
  .stars .container:nth-child(64) {
    width: 2px;
    height: 2px;
    left: 19.5vw;
    animation-delay: -991.1s;
    animation-duration: 107s;
  }
  .stars .container:nth-child(64) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.5s;
    animation-duration: 15.6s;
    background: rgba(221,245,181,0.9);
  }
  .stars .container:nth-child(65) {
    width: 1px;
    height: 1px;
    left: 99vw;
    animation-delay: -989s;
    animation-duration: 170.8s;
  }
  .stars .container:nth-child(65) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.1s;
    animation-duration: 25.1s;
    background: rgba(240,246,128,0.9);
  }
  .stars .container:nth-child(66) {
    width: 2px;
    height: 2px;
    left: 75.5vw;
    animation-delay: -992.6s;
    animation-duration: 152.3s;
  }
  .stars .container:nth-child(66) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.2s;
    animation-duration: 35s;
    background: rgba(204,161,225,0.9);
  }
  .stars .container:nth-child(67) {
    width: 2px;
    height: 2px;
    left: 88vw;
    animation-delay: -992.5s;
    animation-duration: 198.4s;
  }
  .stars .container:nth-child(67) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.7s;
    animation-duration: 22.4s;
    background: #d39bec;
  }
  .stars .container:nth-child(68) {
    width: 2px;
    height: 2px;
    left: 1vw;
    animation-delay: -991.8s;
    animation-duration: 158.7s;
  }
  .stars .container:nth-child(68) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.3s;
    animation-duration: 18.8s;
    background: rgba(236,247,185,0.8);
  }
  .stars .container:nth-child(69) {
    width: 1px;
    height: 1px;
    left: 4vw;
    animation-delay: -986s;
    animation-duration: 62s;
  }
  .stars .container:nth-child(69) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46s;
    animation-duration: 10.8s;
    background: rgba(231,156,184,0.8);
  }
  .stars .container:nth-child(70) {
    width: 2px;
    height: 2px;
    left: 88.5vw;
    animation-delay: -998.9s;
    animation-duration: 92.5s;
  }
  .stars .container:nth-child(70) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.7s;
    animation-duration: 39.5s;
    background: rgba(241,208,185,0.9);
  }
  .stars .container:nth-child(71) {
    width: 3px;
    height: 3px;
    left: 63vw;
    animation-delay: -994s;
    animation-duration: 83.66666666666667s;
  }
  .stars .container:nth-child(71) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.3s;
    animation-duration: 37.4s;
    background: rgba(232,218,239,0.8);
  }
  .stars .container:nth-child(72) {
    width: 3px;
    height: 3px;
    left: 42.5vw;
    animation-delay: -995.5333333333333s;
    animation-duration: 75s;
  }
  .stars .container:nth-child(72) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.2s;
    animation-duration: 19.3s;
    background: rgba(239,151,224,0.9);
  }
  .stars .container:nth-child(73) {
    width: 2px;
    height: 2px;
    left: 14vw;
    animation-delay: -997.4s;
    animation-duration: 136.1s;
  }
  .stars .container:nth-child(73) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.9s;
    animation-duration: 46.6s;
    background: #ddb98b;
  }
  .stars .container:nth-child(74) {
    width: 3px;
    height: 3px;
    left: 69vw;
    animation-delay: -999.2s;
    animation-duration: 48s;
  }
  .stars .container:nth-child(74) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40s;
    animation-duration: 32.9s;
    background: rgba(237,249,142,0.7);
  }
  .stars .container:nth-child(75) {
    width: 1px;
    height: 1px;
    left: 76.5vw;
    animation-delay: -986.8s;
    animation-duration: 386.6s;
  }
  .stars .container:nth-child(75) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.2s;
    animation-duration: 21.5s;
    background: rgba(220,165,162,0.7);
  }
  .stars .container:nth-child(76) {
    width: 1px;
    height: 1px;
    left: 52.5vw;
    animation-delay: -999.2s;
    animation-duration: 125.4s;
  }
  .stars .container:nth-child(76) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.9s;
    animation-duration: 47.1s;
    background: #ceeead;
  }
  .stars .container:nth-child(77) {
    width: 3px;
    height: 3px;
    left: 14.5vw;
    animation-delay: -994s;
    animation-duration: 91.26666666666667s;
  }
  .stars .container:nth-child(77) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.6s;
    animation-duration: 13.1s;
    background: rgba(223,242,234,0.8);
  }
  .stars .container:nth-child(78) {
    width: 3px;
    height: 3px;
    left: 45.5vw;
    animation-delay: -997.3333333333334s;
    animation-duration: 131.26666666666668s;
  }
  .stars .container:nth-child(78) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.8s;
    animation-duration: 37.6s;
    background: rgba(219,184,148,0.8);
  }
  .stars .container:nth-child(79) {
    width: 1px;
    height: 1px;
    left: 35vw;
    animation-delay: -982.4s;
    animation-duration: 269s;
  }
  .stars .container:nth-child(79) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.3s;
    animation-duration: 37.1s;
    background: rgba(210,207,113,0.7);
  }
  .stars .container:nth-child(80) {
    width: 1px;
    height: 1px;
    left: 69vw;
    animation-delay: -992.4s;
    animation-duration: 398.6s;
  }
  .stars .container:nth-child(80) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.1s;
    animation-duration: 29.5s;
    background: rgba(252,243,225,0.7);
  }
  .stars .container:nth-child(81) {
    width: 2px;
    height: 2px;
    left: 52.5vw;
    animation-delay: -994.9s;
    animation-duration: 47.9s;
  }
  .stars .container:nth-child(81) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.9s;
    animation-duration: 6.6s;
    background: rgba(212,240,148,0.8);
  }
  .stars .container:nth-child(82) {
    width: 1px;
    height: 1px;
    left: 70vw;
    animation-delay: -992.6s;
    animation-duration: 262s;
  }
  .stars .container:nth-child(82) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.7s;
    animation-duration: 13.8s;
    background: rgba(228,150,153,0.8);
  }
  .stars .container:nth-child(83) {
    width: 1px;
    height: 1px;
    left: 2.5vw;
    animation-delay: -997s;
    animation-duration: 263.4s;
  }
  .stars .container:nth-child(83) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.9s;
    animation-duration: 26s;
    background: #f0ce99;
  }
  .stars .container:nth-child(84) {
    width: 1px;
    height: 1px;
    left: 96vw;
    animation-delay: -998.6s;
    animation-duration: 365.2s;
  }
  .stars .container:nth-child(84) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.4s;
    animation-duration: 8.6s;
    background: rgba(217,226,115,0.7);
  }
  .stars .container:nth-child(85) {
    width: 3px;
    height: 3px;
    left: 96vw;
    animation-delay: -998.4666666666667s;
    animation-duration: 102.2s;
  }
  .stars .container:nth-child(85) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.9s;
    animation-duration: 31.2s;
    background: #ee996d;
  }
  .stars .container:nth-child(86) {
    width: 1px;
    height: 1px;
    left: 97vw;
    animation-delay: -989.8s;
    animation-duration: 108.2s;
  }
  .stars .container:nth-child(86) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.1s;
    animation-duration: 33.3s;
    background: #e7b177;
  }
  .stars .container:nth-child(87) {
    width: 3px;
    height: 3px;
    left: 34.5vw;
    animation-delay: -996.9333333333333s;
    animation-duration: 89.93333333333334s;
  }
  .stars .container:nth-child(87) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47s;
    animation-duration: 7.2s;
    background: rgba(215,232,136,0.9);
  }
  .stars .container:nth-child(88) {
    width: 2px;
    height: 2px;
    left: 36vw;
    animation-delay: -999.1s;
    animation-duration: 80s;
  }
  .stars .container:nth-child(88) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48s;
    animation-duration: 31.3s;
    background: #e2ebf6;
  }
  .stars .container:nth-child(89) {
    width: 2px;
    height: 2px;
    left: 7vw;
    animation-delay: -996.1s;
    animation-duration: 107s;
  }
  .stars .container:nth-child(89) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.2s;
    animation-duration: 14.3s;
    background: rgba(218,199,239,0.8);
  }
  .stars .container:nth-child(90) {
    width: 3px;
    height: 3px;
    left: 20vw;
    animation-delay: -994.2s;
    animation-duration: 25.53333333333333s;
  }
  .stars .container:nth-child(90) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.6s;
    animation-duration: 15.8s;
    background: rgba(251,157,210,0.9);
  }
  .stars .container:nth-child(91) {
    width: 1px;
    height: 1px;
    left: 54vw;
    animation-delay: -984s;
    animation-duration: 226.8s;
  }
  .stars .container:nth-child(91) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.4s;
    animation-duration: 39.8s;
    background: rgba(242,190,227,0.9);
  }
  .stars .container:nth-child(92) {
    width: 3px;
    height: 3px;
    left: 52.5vw;
    animation-delay: -995.8s;
    animation-duration: 56.666666666666664s;
  }
  .stars .container:nth-child(92) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.7s;
    animation-duration: 27.2s;
    background: rgba(216,202,232,0.8);
  }
  .stars .container:nth-child(93) {
    width: 3px;
    height: 3px;
    left: 38.5vw;
    animation-delay: -997.1333333333333s;
    animation-duration: 54s;
  }
  .stars .container:nth-child(93) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.4s;
    animation-duration: 11.3s;
    background: rgba(244,185,252,0.9);
  }
  .stars .container:nth-child(94) {
    width: 2px;
    height: 2px;
    left: 71.5vw;
    animation-delay: -992.7s;
    animation-duration: 40.3s;
  }
  .stars .container:nth-child(94) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.5s;
    animation-duration: 7.7s;
    background: rgba(221,211,198,0.8);
  }
  .stars .container:nth-child(95) {
    width: 3px;
    height: 3px;
    left: 69.5vw;
    animation-delay: -994.4666666666667s;
    animation-duration: 55.4s;
  }
  .stars .container:nth-child(95) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.2s;
    animation-duration: 18.1s;
    background: #d6c3b6;
  }
  .stars .container:nth-child(96) {
    width: 3px;
    height: 3px;
    left: 69vw;
    animation-delay: -993.5333333333333s;
    animation-duration: 71.66666666666667s;
  }
  .stars .container:nth-child(96) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44s;
    animation-duration: 35.1s;
    background: rgba(203,161,140,0.7);
  }
  .stars .container:nth-child(97) {
    width: 2px;
    height: 2px;
    left: 26vw;
    animation-delay: -990s;
    animation-duration: 162.4s;
  }
  .stars .container:nth-child(97) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.5s;
    animation-duration: 14s;
    background: rgba(245,237,253,0.9);
  }
  .stars .container:nth-child(98) {
    width: 2px;
    height: 2px;
    left: 27vw;
    animation-delay: -994.2s;
    animation-duration: 146.3s;
  }
  .stars .container:nth-child(98) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.2s;
    animation-duration: 16.3s;
    background: rgba(216,150,204,0.7);
  }
  .stars .container:nth-child(99) {
    width: 3px;
    height: 3px;
    left: 50vw;
    animation-delay: -996.3333333333334s;
    animation-duration: 101.86666666666667s;
  }
  .stars .container:nth-child(99) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.3s;
    animation-duration: 10.5s;
    background: #ffad6d;
  }
  .stars .container:nth-child(100) {
    width: 1px;
    height: 1px;
    left: 96vw;
    animation-delay: -987s;
    animation-duration: 320.6s;
  }
  .stars .container:nth-child(100) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.6s;
    animation-duration: 6.5s;
    background: rgba(238,185,140,0.7);
  }
  @-moz-keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @-webkit-keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @-o-keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @-moz-keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  @-webkit-keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  @-o-keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  @keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }


/*  */
#privacyPolicy {
  color: #fff;
  margin-top: 70px;
}

#privacyPolicy h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}

#privacyPolicy h2 {
  text-align: left;
  margin-bottom: 30px;
  font-size: 25px;
}

#privacyPolicy .not {
  margin-top: 30px;
}
#privacyPolicy .cs {
  margin-bottom: 70px;
}

#privacyPolicy ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
}

#privacyPolicy ul li::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 8px;
  height: 8px;
  transform: translateY(-50%);
  background-color: #cbef8a;
}

  